/* 

Agency Within
Front End Developer Test: Weather Forecast
96 hours starting from June 11, 2018 at 9:00am

Francheska Guzman

COLOR GUIDE

Black		#000000
Blue 		#0f3150
Grey		#bac0c6, #a5aaaf, #787f87
White 	#ffffff
Yellow  #ffc406, #ad8401

*/

/* =============== GLOBAL =============== */

@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Semi+Expanded|Pontano+Sans');

body {
  height: 100%;
  overflow: auto;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat:no-repeat;
  background: #0f3150;
  background: -webkit-linear-gradient(#000000 0, #0f3150 66%) fixed;
  background: -moz-linear-gradien(#000000 0, #0f3150 66%) fixed;
  background: -ms-linear-gradient(#000000 0, #0f3150 66%) fixed;
  background: -o-linear-gradient(#000000 0, #0f3150 66%) fixed;
	background: linear-gradient(#000000 0, #0f3150 66%) fixed;
  font-family: 'Pontano Sans', sans-serif;
}

html {
    overflow: hidden;
    height: 100%;
}

h1 {
  background: -webkit-linear-gradient( #ad8401 0, #ffc406 66%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  font-size: 40px;
}

h2 {
  color: #ffffff;
  font-size: 25px;
  margin: 5px;
}

h3 {
  color: #a5aaaf;
  font-size: 18px;
  text-transform: capitalize;
  margin: 5px;
}

h4 {
  color: #ffffff;
  font-size: 60px; 
  margin: 5px;
}

h5 {
  text-align: left;
  color: #a5aaaf;
  font-size: 16px;
  margin: 5px 0;
}

a {
  text-decoration: none;
}

.flex {
  display: flex;
}

.row-column {
  flex: 1;
  flex-direction: row;
}

/* =============== APP =============== */

.app-container {
  margin: 80px 50px 10px 50px;
  text-align: center;
}

/* =============== HOME =============== */

.home-summary {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* =============== SUMMARY =============== */

.summary-container {
  width: 400px;
  height: 200px;
  margin: 5px;
  padding: 25px 10px;
  background: rgba(0, 0, 0, 0.07);
}

.summary-container:hover{
  background: rgba(0, 0, 0, .2);
}

.summary-image {
  width: 120px;
}

.summary-link {
  text-decoration: none;
  color: rgba(0, 0, 0, 0);
}

.summary-units {
  font-size: 18px;
}

/* =============== FORECAST =============== */

.current-weather {
  width: auto;
  height: 100px;
  margin: 10px auto;
  padding: 30px;
  background: rgba(0, 0, 0, 0.2);
}

.forecast-container {
  max-width: 900px;
  height: auto;
  margin: 5px auto;
  padding: 20px;
  background: rgba(0, 0, 0, 0.07);
}

.forecast-data {
  color: #ffffff;
}

.five-day-forecast {
  width: auto;
  height: 300px;
  margin: 10px auto;
  padding: 0px;
  background: rgba(0, 0, 0, 0.2);
}

/* =============== FOOTER =============== */

footer {
	width: 100%;
	bottom: 0;
	padding: 25px 0;
}

p.footer {
	font-size: 14px;
	color: #787f87;
	text-align: center;
}

a.footer {
	color: #a5aaaf;
	text-decoration: none;
}

a.footer:hover {
	color: #bac0c6;
}

/* =============== RESPONSIVE DESIGN FOR TABLET =============== */

@media only screen and (max-width: 900px) {

h2 {
  font-size: 20px;
}

h3, .summary-units {
  font-size: 16px;
}

h4 {
  font-size: 50px; 
}

.row-column {
  flex-direction: column;
}

.app-container {
  margin: 60px 10px 10px 10px;
}

.summary-container {
  width: 250px;
  height: 150px;
  padding: 15px 10px;
}

.summary-image {
  width: 100px;
}
  
}

/* =============== RESPONSIVE DESIGN FOR MOBILE =============== */

@media only screen and (max-width: 580px) {

h1 {
  font-size: 40px;
}  

h2 {
  font-size: 25px;
}

h3, .summary-units {
  font-size: 17px;
}

h4 {
  font-size: 60px; 
}
  
.home-summary {
  flex-direction: column;
}

.summary-container {
  margin: 5px 0;
  width: auto;
  height: 200px;
}
.row-column {
  flex-direction: row;
}

}